{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Что еще почитать?</title>
    <link rel="stylesheet" href="{% static 'css/bo.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/icon.png' %}">
</head>
<body>

{% include 'myapp/header_navbar.html' %}

<main class="main-content">

    <h2>Что еще почитать?</h2>

   <div class="post-wrap">
<div class="post-item">
    <div class="post-item-wrap">
        <a href="" class="post-link">
        <img src="{% static 'images/c5.jpg' %}">
    <div class="post-info">
    <div class="post-meta">
    <div class="post-date">Федор Достоевский — главный русский писатель, мастер психологической прозы и знаток потаенных человеческих страстей. Одной из которых — игромании — одно время был подвержен и сам.
    </div>
    </div>
    </div>
        </a>
    </div>
</div>

<div class="post-item">
<div class="post-item-wrap">
<a href="" class="post-link">
<img src="{% static 'images/c1.jpg' %}">
<div class="post-info">
<div class="post-meta">
<div class="post-date"> Произведение во многом автобиографическое – многие критики считают, что в образе Ёдзо Оба изображен сам автор: страдающий человек, который разрушает свою жизнь, не найдя в ней места. </div>
</div>
</div>
</a>
</div>
</div>

        <div class="post-item">
<div class="post-item-wrap">
<a href="" class="post-link">
<img src="{% static 'images/c11.jpg' %}">
<div class="post-info">
<div class="post-meta">
<div class="post-date">Жизнь состоит из сложностей и проблем. Порой у каждого из нас возникает ощущение, что утрачен смысл, опускаются руки и не знаешь, что делать. Знаменитому австрийскому психиатру, психологу и философу Виктору Франклу пришлось пройти сквозь нацистские концлагеря.</div>
</div>
</div>
</a>
</div>
</div>

        <div class="post-item">
<div class="post-item-wrap">
<a href="" class="post-link">
<img src="{% static 'images/c8.jpg' %}">
<div class="post-info">
<div class="post-meta">
<div class="post-date">Иван Гончаров — один из самых крупных писателей-реалистов золотого века русской литературы. Роман «Обломов» — часть знаменитой «трилогии о русской жизни», куда также вошли «Обыкновенная история» и «Обрыв».</div>
</div>
</div>
</a>
</div>
</div>

        <div class="post-item">
<div class="post-item-wrap">
<a href="" class="post-link">
<img src="{% static 'images/c7.jpg' %}">
<div class="post-info">
<div class="post-meta">
<div class="post-date">Последний роман Достоевского, подводящий итог его творчеству и поднимающий вечные вопросы человечества, и духовное завещание писателя, ставшее важной вехой в мировой литературе.</div>
</div>
</div>
</a>
</div>
</div>

<div class="post-item">
<div class="post-item-wrap">
<a href="" class="post-link">
<img src="{% static 'images/c9.jpg' %}">
<div class="post-info">
<div class="post-meta">
<div class="post-date">Даже не читая этого романа, вы наверняка слышали про Джейн Эйр. Скорее всего, вы смотрели фильм по этому роману. </div>
</div>
</div>
</a>
</div>
</div>
</div>
    
<h2>Серии книг</h2>
       <div class="post-wrap">

       <div class="post-item">
<div class="post-item-wrap">
<a href="" class="post-link">
<img src="{% static 'images/q1.jpg' %}">
<div class="post-info">
<div class="post-meta">
<div class="post-date">Спустя два года после смерти матери Элла узнает, что та перед смертью успела сообщила ее отцу, которого девушка никогда не видела, о том, что у него есть дочь.
Стив О'Халлоран не успел разыскать Эллу, потому что трагически погиб. 
</div>
</div>
</div>
</a>
</div>
</div>

       <div class="post-item">
<div class="post-item-wrap">
<a href="" class="post-link">
<img src="{% static 'images/q2.jpg' %}">
<div class="post-info">
<div class="post-meta">
<div class="post-date">У Рида Ройала есть все - привлекательная внешность, положение в обществе, деньги. Девушки из его элитной школы готовы на все, чтобы встречаться с ним. Парни хотят быть им. Но Риду нет дела ни до кого, кроме членов семьи. Пока в его жизни не появляется Элла Харпер.</div>
</div>
</div>
</a>
</div>
</div>

       <div class="post-item">
<div class="post-item-wrap">
<a href="" class="post-link">
<img src="{% static 'images/q3.jpg' %}">
<div class="post-info">
<div class="post-meta">
<div class="post-date">Одна ошибка может стоить жизни...
Рид и Элла наконец-то вместе. После всего, что им пришлось пройти, кажется, ничто не может помешать их счастью. Но судьба снова бросает героям вызов...</div>
</div>
</div>
</a>
</div>
</div>
           
             <div class="post-item">
<div class="post-item-wrap">
<a href="" class="post-link">
<img src="{% static 'images/q4.jpg' %}">
<div class="post-info">
<div class="post-meta">
<div class="post-date">Истон Ройал умен, богат, красив и влиятелен. Что еще нужно, чтобы быть в центре внимания? Любая в Астон-Парке хочет стать его девушкой. Но Истону наскучили надменные школьные красавицы. В поисках приключений он пускается во все тяжкие, пока не встречает ее.
</div>
</div>
</div>
</a>
</div>
</div>
           
             <div class="post-item">
<div class="post-item-wrap">
<a href="" class="post-link">
<img src="{% static 'images/q5.jpg' %}">
<div class="post-info">
<div class="post-meta">
<div class="post-date">Истон не может жить без Хартли. Ему жизненно необходимо, чтобы она все вспомнила. На что решится привыкший получать от жизни все Ройал, чтобы вернуть себе расположение Хартли, которая решила все забыть?
</div>
</div>
</div>
</a>
</div>
</div>
           
             <div class="post-item">
<div class="post-item-wrap">
<a href="" class="post-link">
<img src="{% static 'images/q6.jpg' %}">
<div class="post-info">
<div class="post-meta">
<div class="post-date">Два года назад из-за глупой ошибки Гидеон Ройал расстался с девушкой своей мечты. С тех пор его жизнь превратилась в сплошное разочарование. Гид надеялся, что отъезд в колледж все изменит и поможет залечить израненное сердце. Но судьбе было угодно, чтобы их пути с Саванной Монтгомери снова пересеклись.
</div>
</div>
</div>
</a>
</div>
</div>

</div>
</main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Печатный мир. Все права защищены.</p>
        </div>
    </footer>

</body>
</html>