body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f9f9f9;
}

main {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #a62df1;
}

.order-details p {
    margin: 5px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #8c69a1;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
}

.button:hover {
    background-color: #8c69a1;
}
